* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background: #bfd7e4;
}
header {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-size: 1.6rem;
  text-align: center;
  background: #293241;
  width: 100%;
  height: 46.5rem;
  margin-top: 0rem;
}
header h1 {
  margin-top: 10.7rem;
  color: #fff;
}
header p {
  color: #fff;
}
header img {
  width: 22.5rem;
  height: 10rem;
  margin: 2rem auto;
}
.form-title {
  border-radius: 2rem 2rem 0rem 0rem;
  background: #f67669;
  width: 75rem;
  height: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -13.3rem auto auto; /*Somente a fins de aprendizado, saber que existe essa possibilidade haha */
}
.form-title h2 {
  color: #fff;
  font-family: Staatliches;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 3.4rem; /* 141.667% */
}
form {
  color: #4e4958;
  font-family: Poppins;
  font-size: 1.4rem;
  padding: 3.17rem 6.4rem;
}
span {
  color: #c1bccc;
  font-family: Poppins;
  font-size: 1.2rem;
}
.col-2 {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
}
.col-2 > div:nth-child(1),
.col-2 > div:nth-child(2) {
  width: 50%;
}
fieldset label {
  display: block;
  color: #4e4958;
  font-family: Poppins;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.input-wrapper input {
  border-radius: 0.8rem;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  height: 5.5rem;
  padding: 1.5rem;
  width: 100%;
}

#email {
  width: 62.2rem;
}
.input-wrapper {
  display: block;
  margin-bottom: 1.6rem;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
main {
  margin: auto;
  width: 75rem;
  background: #fff;
  border-radius: 0rem 0rem 2rem 2rem;
}
legend {
  color: #253b51;
  font-family: Staatliches;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  margin-bottom: 3rem;
}
select {
  width: 30rem;
  height: 5.5529rem;
  border-radius: 0.8rem;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  appearance: none;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
button {
  display: flex;
  width: 62.2rem;
  height: 5.1rem;
  padding: 1.5rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: #f67669;
  border: none;
  margin-top: 6rem;

  color: #fff;
  font-family: Staatliches;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem; /* 130% */
}
button:hover {
  background: #d41f0d;
}
textarea {
  width: 60.8rem;
  height: 16.6586rem;
  border-radius: 0.8rem;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  padding: 1.5rem;
}
.checkbox-wrapper {
  margin-bottom: 3.6rem;
}
.checkbox-wrapper input {
  display: none;
  cursor: pointer;
}
.checkbox-wrapper label {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1.6rem;
}
.checkbox-wrapper label::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #e6e6f0;
  border-radius: 1rem;
}
.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1902_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%23F67669'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1902_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.col-3 {
  display: flex;
  height: 5.5rem;
}
.col-3 > div:nth-child(1) {
  width: 50%;
  margin-right: 3.2rem;
}
.col-3 > div:nth-child(2),
.col-3 > div:nth-child(3) {
  width: 20%;
}
.col-3 > div:nth-child(3) {
  margin-left: 1rem;
}
